body {
	margin: 0;
	padding: 10px;
}

a {
	color: orange;
}

.contents {
	margin: 0;
	font-size: 16px;
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

.endpoints {
	font-size: 24px;
	padding: 10px;
}

.subtitle {
	font-size: 18px;
	color: blue;
}